@charset "utf-8";
/* CSS Document */
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
@import url(http://meyerweb.com/eric/tools/css/reset/reset.css);

/* Reset */
* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: BadScript;
    src: url("../fonts/Uni Sans Heavy.otf");
}

body {
    /*font-family: "Roboto", Helvetica Neue, Arial, sans-serif;
    background-color: green;*/
    font-family: BadScript;
}

/* Все блоки по высоте экрана */
.logo-block {
    box-sizing: border-box;
    height: 100vh;
}

/* Картинка полностью помещается в блок */
img {
    max-height: 100%;
}

/* Просто кнопка вниз */
.btn-scroll {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-size: 100%;
}

/* Отцентровка первой картинки, высота такая чтобы хедером не закрывалась */
.img-block {
    position: absolute;
    margin: auto;
    left: 0;
    bottom: 0;
    right: 0;
    height: 80%;
}

.red {
    background: red;
}

/* Относительное позиционирование чтобы абсолютно спозиционированная картинка внутри знала своего родителя */
.container {
    position: relative;
    height: 100%;
}

/* Для блока только с текстом */
.text {
    padding: 120px 20px;
    margin-right: auto;
    margin-left: auto;
}

/* Картинка ровно на половину блока */
.side-img-left {
    position: absolute;
    float: left;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    background-size: cover;
    overflow: hidden;
}

/* Текст ровно на половину блока */
.side-text-right {
    position: relative;
    padding: 120px 20px;
    margin-left: 50%;
    float: left;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
}

.side-img-right {
    position: relative;
    margin-left: 50%;
    float: left;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    background-size: cover;
    overflow: hidden;
}

/* Текст ровно на половину блока */
.side-text-left {
    position: absolute;
    padding: 120px 20px;
    float: left;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
}

.blue {
    background: blue;
}

.white {
    background: white;
}

.black {
    background: black;
}

h1 {
    font-weight: 100;
    font-size: 73px;
    line-height: 1.1;
    text-align: center;
}

p {
    font-size: 31px;
    font-weight: 300;
    line-height: 1.4;
}

.side-bar {
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    float: left;
}

.side-text-bar {
    display: inline-block;
    position: relative;
    padding: 120px 20px;
    float: left;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    text-align: center;
}

.progress-bar {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 30%;
    height: 30%;
}

.score {
    text-align: center;
}

.reg-description {
    margin-bottom: 100px;
}

.btn-register {
    background-color: #ea4c88;
    border-radius: 3px;
    padding: 25px 100px;
    text-decoration: none;
    color: #eee;
    font-weight: bold;
}