/* Reset */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", Helvetica Neue, Arial, sans-serif;
    background-color: green;
}
/* Танцы с бубном для хедера */
header {
    width: 90%;
    text-align: justify;
    height: 5em;
    padding: 1em 5%;
    background-color: rgba(100, 150, 188, 0.8);
    position: fixed;
    z-index: 999;
}

header::after {
    content: '';
    display: inline-block;
    width: 100%;
}

header > div,
header > div::before,
header .nav,
header > div .logo {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}

header > div {
    height: 100%;
}

header > div::before {
    content: '';
    height: 100%;
}

header > div .logo {
    font-size: 3em;
    font-style: italic;
}

header .nav a {
    padding: 0 0.6em;
    white-space: nowrap;
}

header .nav a:last-child {
    padding-right: 0;
}

@media screen and (max-width: 720px) {

    header {
        height: auto;
    }

    header > div,
    header > div .logo,
    header .nav {
        height: auto;
        width: auto;
        display: block;
        text-align: center;
    }

}

.header-main {
    margin: 0px auto;
    z-index: 0;
}
/* Все блоки по высоте экрана */
.logo-block {
    box-sizing: border-box;
    height: 100vh;
}
/* Картинка полностью помещается в блок */
img {
    max-height: 100%;
}
/* Просто кнопка вниз */
.btn-scroll {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-image: url("../img/down.png");
    background-size: 100%;
}
/* Отцентровка первой картинки, высота такая чтобы хедером не закрывалась */
.img-block {
    position: absolute;
    margin: auto;
    left: 0;
    bottom: 0;
    right: 0;
    height: 80%;
}

.red {
    background: red;
}

/*@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}*/
/* Относительное позиционирование чтобы абсолютно спозиционированная картинка внутри знала своего родителя */
.container {
    position: relative;
    height: 100%;
}
/* Для блока только с текстом */
.text {
    padding: 120px 20px;
    margin-right: auto;
    margin-left: auto;
}
/* Картинка ровно на половину блока */
.side-img {
    position: absolute;
    float: left;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
}
/* Текст ровно на половину блока */
.side-text {
    position: relative;
    padding: 120px 20px;
    margin-left: 50%;
    float: left;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
}

.blue {
    background: blue;
}

h1 {
    font-weight: 100;
    font-size: 73px;
    line-height: 1.1;
    text-align: center;
}

p {
    font-size: 31px;
    font-weight: 300;
    line-height: 1.4;
}

.side-bar {
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    float: left;
}

.side-text-bar {
    display: inline-block;
    position: relative;
    padding: 120px 20px;
    float: left;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
}

.progress-bar {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 30%;
    height: 30%;
}

.score {
    text-align: center;
}
