@charset "utf-8";
/* CSS Document */

@import url(http://weloveiconfonts.com/api/?family=fontawesome);

@import url(http://meyerweb.com/eric/tools/css/reset/reset.css);


/* Reset */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", Helvetica Neue, Arial, sans-serif;
    background-color: green;
}
/* Танцы с бубном для хедера */
header {
    width: 90%;
    text-align: justify;
    height: 5em;
    padding: 1em 5%;
    background-color: rgba(100, 150, 188, 0.8);
    position: fixed;
    z-index: 999;
}

header::after {
    content: '';
    display: inline-block;
    width: 100%;
}

header > div,
header > div::before,
header .nav,
header > div .logo {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}

header > div {
    height: 100%;
}

header > div::before {
    content: '';
    height: 100%;
}

header > div .logo {
    font-size: 3em;
    font-style: italic;
}

header .nav a {
    padding: 0 0.6em;
    white-space: nowrap;
}

header .nav a:last-child {
    padding-right: 0;
}

@media screen and (max-width: 720px) {

    header {
        height: auto;
    }

    header > div,
    header > div .logo,
    header .nav {
        height: auto;
        width: auto;
        display: block;
        text-align: center;
    }

}

.header-main {
    margin: 0px auto;
    z-index: 0;
}
/* Все блоки по высоте экрана */
.logo-block {
    box-sizing: border-box;
    height: 100vh;
}
/* Картинка полностью помещается в блок */
img {
    max-height: 100%;
}
/* Просто кнопка вниз */
.btn-scroll {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-image: url("../img/down.png");
    background-size: 100%;
}
/* Отцентровка первой картинки, высота такая чтобы хедером не закрывалась */
.img-block {
    position: absolute;
    margin: auto;
    left: 0;
    bottom: 0;
    right: 0;
    height: 80%;
}

.red {
    background: red;
}

/*@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}*/
/* Относительное позиционирование чтобы абсолютно спозиционированная картинка внутри знала своего родителя */
.container {
    position: relative;
    height: 100%;
}
/* Для блока только с текстом */
.text {
    padding: 120px 20px;
    margin-right: auto;
    margin-left: auto;
}
/* Картинка ровно на половину блока */
.side-img {
    position: absolute;
    float: left;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
}
/* Текст ровно на половину блока */
.side-text {
    position: relative;
    padding: 120px 20px;
    margin-left: 50%;
    float: left;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
}

.blue {
    background: blue;
}

h1 {
    font-weight: 100;
    font-size: 73px;
    line-height: 1.1;
    text-align: center;
}

p {
    font-size: 31px;
    font-weight: 300;
    line-height: 1.4;
}

.side-bar {
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    float: left;
}

.side-text-bar {
    display: inline-block;
    position: relative;
    padding: 120px 20px;
    float: left;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
}

.progress-bar {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 30%;
    height: 30%;
}

.score {
    text-align: center;
}

#login {
    box-sizing: border-box;
}
/*spizhena*/


/* ---------- FONTAWESOME ---------- */

[class*="fontawesome-"]:before {
    font-family: 'FontAwesome', sans-serif;
}

/* ---------- GENERAL ---------- */


#login a {
    color: #eee;
    text-decoration: none;
}

#login a:hover {
    text-decoration: underline;
}

#login input {
    border: none;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5em;
    padding: 0;
    -webkit-appearance: none;
}

#login p {
    line-height: 0.5em;
}

#login .clearfix { *zoom: 1; } /* For IE 6/7 */
#login .clearfix:before, .clearfix:after {
    display: table;
    content: "";
}
#login .clearfix:after { clear: both; }

/* ---------- LOGIN ---------- */

#login {
    margin: auto;
    width: 280px;
}

#login form span {
    background-color: #363b41;
    border-radius: 3px 0px 0px 3px;
    -moz-border-radius: 3px 0px 0px 3px;
    -webkit-border-radius: 3px 0px 0px 3px;
    color: #606468;
    display: block;
    float: left;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 50px;
}

#login form input {
    height: 50px;
    outline:none;
}

#login form input[type="text"], input[type="password"] {
    background-color: #3b4148;
    border-radius: 0px 3px 3px 0px;
    -moz-border-radius: 0px 3px 3px 0px;
    -webkit-border-radius: 0px 3px 3px 0px;
    color: #606468;
    margin-bottom: 1em;
    padding: 0 16px;
    width: 198px;
}

#login form input:focus {
    color:#fff;
}

#login form input[type="submit"] {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: #ea4c88;
    color: #eee;
    font-weight: bold;
    margin-bottom: 2em;
    text-transform: uppercase;
    cursor:pointer;
    width: 280px;
}

#login form input[type="submit"]:hover {
    background-color: #d44179;
}

#login > p {
    text-align: center;
}

#login > p span {
    padding-left: 5px;
}

.login {
    padding: 20%;
}


.tooltip {
    display: block !important;
    z-index: 10000;
}

.tooltip .tooltip-inner {
    background: black;
    color: white;
    border-radius: 16px;
    padding: 5px 10px 4px;
}

.tooltip .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
    border-color: black;
    z-index: 1;
}

.tooltip[x-placement^="top"] {
    margin-bottom: 5px;
}

.tooltip[x-placement^="top"] .tooltip-arrow {
    border-width: 5px 5px 0 5px;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    border-bottom-color: transparent !important;
    bottom: -5px;
    left: calc(50% - 5px);
    margin-top: 0;
    margin-bottom: 0;
}

.tooltip[x-placement^="bottom"] {
    margin-top: 5px;
}

.tooltip[x-placement^="bottom"] .tooltip-arrow {
    border-width: 0 5px 5px 5px;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    border-top-color: transparent !important;
    top: -5px;
    left: calc(50% - 5px);
    margin-top: 0;
    margin-bottom: 0;
}

.tooltip[x-placement^="right"] {
    margin-left: 5px;
}

.tooltip[x-placement^="right"] .tooltip-arrow {
    border-width: 5px 5px 5px 0;
    border-left-color: transparent !important;
    border-top-color: transparent !important;
    border-bottom-color: transparent !important;
    left: -5px;
    top: calc(50% - 5px);
    margin-left: 0;
    margin-right: 0;
}

.tooltip[x-placement^="left"] {
    margin-right: 5px;
}

.tooltip[x-placement^="left"] .tooltip-arrow {
    border-width: 5px 0 5px 5px;
    border-top-color: transparent !important;
    border-right-color: transparent !important;
    border-bottom-color: transparent !important;
    right: -5px;
    top: calc(50% - 5px);
    margin-left: 0;
    margin-right: 0;
}

.tooltip.popover .popover-inner {
    background: #f9f9f9;
    color: black;
    padding: 24px;
    border-radius: 5px;
    box-shadow: 0 5px 30px rgba(black, .1);
}

.tooltip.popover .popover-arrow {
    border-color: #f9f9f9;
}

.tooltip[aria-hidden='true'] {
    visibility: hidden;
    opacity: 0;
    transition: opacity .15s, visibility .15s;
}

.tooltip[aria-hidden='false'] {
    visibility: visible;
    opacity: 1;
    transition: opacity .15s;
}